*{
    margin: 0px;
    padding: 0px;
}


#container1
{
    width: 23%;
    height: 100vh;
    float: left;
    /* background-color: black; */
}
#logo
{
    height: 18%;
    width: 92%;
    background-color: rgb(66, 211, 211);
    border-radius: 10px;
    margin-left: 3%;
}

#options
{
    height: 80%;
    width: 92%;
    /* background-color: blue; */
    margin-top: 3%;
    margin-left: 3%;
    border-radius: 10px;
    box-shadow: 5px 5px 8px grey;
}

#choice
{
    height: 90%;
    width: 95%;
    /* background-color: brown; */
    margin-top: 6%;
    float: left;
    margin-left: 3%;
}

#select
{
    height: 11%;
    width: 100%;
    /* background-color: yellow; */
    margin-top: 5%;
    float: left;
}

h1{
    font-size: 50px;
   margin-left: 17%;
    margin-top: 10%;
    float: left;
    
}

#Dashboard,#buttons2,#buttons3,#buttons4,#buttons5,#buttons6,form
{
    height: 100%;
    width: 100%;
    border-radius: 10px;
    box-shadow: 5px 5px 8px grey;
    border: none;
    outline: none;
    
}

#Dashboard:hover,#buttons2:hover,#buttons3:hover,#buttons4:hover,#buttons5:hover,#buttons6:hover
{
    background-color: rgb(177, 171, 171);
}

#container3
{
    float: left;
    /* background-color: aqua; */
    height: 705px;
    width: 1160px;
    margin-top: 10px;
}

iframe
{
    height: 100%;
    width: 100%;
    
}

#container2
{
    width: 76.7%;
    height: 65px;
    /* background-color: green; */
    margin-left: 347px;
    margin-top: 10px;
    border-radius: 7px;
    text-align:center;
    box-shadow: 5px 5px 8px grey ;
    /* border: 2px solid black; */
}

#name
{
    height: 100%;
    width: 87%;
    /* background-color: red; */
    float: left;
    margin-left: 47px;
    /*text-align: center;*/
}
h2{
    font-size: 45px;
}

#pro
{
	text-align: center;
}

#profile
{
    border-radius: 100%;
    background-color: blue;
    height: 77%;
    width: 52px;
    margin-left: 40px;
    margin-top: 0.7%;
    float: left;

}