<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title> Responsive Registration Form | CodingLab </title>
  <link rel="stylesheet" href="/Register.css">
  <script type="text/javascript" th:src="@{/Admin.js}"></script>
</head>
<body>
  <div class="container">
    <!-- Title section -->
    <div class="title">Update Medicine Details</div>
    <div class="content">
      <form th:action="@{/drug/addnewdrug/savedrug/{admin}/(admin=${adminid})}" method="post">
        
        <div class="user-details">
          <!-- Input for Full Name -->
          <div class="input-box">
            <span class="details">Medicine name</span>
            <input id="name" type="text" placeholder="Enter Medicine name" name="name" required>
          </div>
         
          <!-- Input for Email -->
          <div class="input-box">
            <span class="details">company name</span>
            <input id="email" type="text" placeholder="Enter company name" name="company" required>
          </div>
          <!-- Input for Password -->
          <div class="input-box">
            <span class="details">Category or Type</span>
            <input id="password" type="text" placeholder="Enter Category or Type" name="type" required>
          </div>
          <!-- Input for Phone Number -->
          <div class="input-box">
            <span class="details">Medicine price</span>
            <input id="phonenumber" type="text" placeholder="Enter Medicine price" name="price" required>
          </div>
          
          <div class="input-box">
            <span class="details">Quantity</span>
            <input id="street" type="text" placeholder="Enter Quantity" name="quantity">
          </div>
          <div class="input-box">
            <span class="details">your Ratings</span>
            <input id="street" type="text" placeholder="Enter your Ratings" name="rating">
          </div>
          <div class="input-box">
            <span class="details">Banned</span>
            <select name="drug" id="drug">
              <option id="true" value="0" name="banned">Yes</option>
              <option id="false" value="1" name="banned">No</option>
            </select>
          </div>
          
        </div> 

        
        
        <div class="button">
          <input type="submit" value="Update">
        </div>
      </form>
    </div>
  </div>
</body>
</html>