<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" th:href="@{/Admin.css}">
    <script type="text/javascript" th:src="@{/Admin.js}"></script>
</head>
<body>
    <!-- <div id="container">

    </div> -->
    <div id="container1">
        <div id="logo">
            <h1>MedStore</h1>
        </div>
        <div id="options">
            <div id="choice" >
                <div id="select"><input id="Dashboard" type="button" value="Dashboard" onclick="data(this.id)"></div>
                <div id="select"><input id="buttons2"type="button" value="Member Data" onclick="datas()"></div>
                <div id="select" ><input th:class="${responseadmin.id}" id="buttons3" type="button" value="Medicines" onclick="medicinedata()"></div>
                <div id="select"><input id="buttons4"type="button" value="Orders Details" onclick="orderslistdata()"></div>
                <div id="select"><input id="buttons5"type="button" value="discount Plans" onclick="data(this.id)"></div>
                <div id="select">
                 <form action="logout"> 
                <input id="buttons6" type="submit" value="Log out"></form></div>
            </div>
        </div>
    </div>
    <div id="container2" th:each="admin:${responseadmin}">
        <div id="name" >
            <h2 th:text=${admin.name}>
                
            </h2>
        </div>
        <div id="profile" >
			<h2 id="pro" th:text=${admin.name.charAt(0)}>
                
            </h2>
        </div>
    </div>
    <div id="container3">
        <iframe id="dash" src="" frameborder="0" ></iframe>
        
    </div>
</body>
</html>