<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" >
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" th:href="@{/AdminDashboard.css}">
</head>
<body>
    <div id="container3">
            <div id="getdata">
                <div id="data1">
                    <h2 id="d1">Data</h2>
                <div id="allmembers">
                    <h2 id="a1" th:text="${allmembers}"></h2>
                    <h2 id="a2">Total members</h2>
                </div>
                <div id="allmembers">
                    <h2 id="a1" th:text="${alldrugs}"></h2>
                    <h2 id="a2">medicines</h2>
                </div>
                <div id="allmembers">
                    <h2 id="a1">15</h2>
                    <h2 id="a2">Orders</h2>
                </div>
                </div>
                
                <h2 id="d1">Available Plans</h2>
                <div id="allmembers">
                    <h2 id="a1">250/-</h2>
                    <h3 id="a2">monthly plan</h3>
                </div>
                <div id="allmembers">
                    <h2 id="a1">1000/-</h2>
                    <h3 id="a2">Yearly plan</h3>
                </div>
            </div>
            
    </div>
</body>
</html>