<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" th:href="@{/AdminDashboard.css}">
    <script type="text/javascript" th:src="@{/Admin.js}"></script>
</head>
<body>
    <div id="container3">
        
            <div id="heading">
                <div id="heading1">
                    <h2>Medicine Details</h2>
                </div>
                <div id="profile">

                </div>
            </div>
            <div id="getdata">
            <div id="searchcontainer">
					<form id="searchform" action="/drug/search">
					<input id="search1" type="text" name="search" placeholder="Search">
					<input id="search2" type="submit" value="search">
					</form>
				</div>
				<input id="add" type="button" value="+ Add Medicines" th:onclick="'drugdata()'"> 
				
                <table id="table">
                <thead>
                    <tr>
                    <th>Id</th>
                    <th>Name</th>
                    <th>Company</th>
                    <th>Type</th>
                    <th>Quantity</th>
                    <th>Price</th>
                    <th>rating</th>
                    <th>Banned</th>
                    <th>Update</th>
                    <th>Delete</th>
                    </tr>
                 </thead>
                    <tbody>
                    	<tr th:each="item : ${alldrugs}">
						<td th:text="${item.id}"></td> 
						<td th:text="${item.name}"></td>
						<td th:text="${item.company}"></td>
						<td th:text="${item.type}"></td>
						<td th:text="${item.quantity}"></td>
						<td th:text="${item.price}"></td>
						<td th:text="${item.rating}"></td>
						<td th:text="${item.Banned}"></td>
						<td><input type="submit" value="Update" th:id="${item.id}" th:onclick="'updatemedicinedata('+${item.id}+')'"></td>
						<td>
						<input type="submit" value="Delete" th:id="${item.id}" th:onclick="'deletedrugdata('+${item.id}+')'">
						<!-- <form th:action="@{/drug/deletedrug/{drugid}/{admin}/(drugid=${item.id},admin=${adminid})}"><button th:text="Delete" th:id="${item.id}">Delete</button></form> -->
						</td>
						 </tr>
                    </tbody>
                </table>
                
            </div>
            
    </div>
</body>
</html>