<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" th:href="@{/AdminDashboard.css}">
    
</head>
<body>
    <div id="container3">
        
            <div id="heading">
                <div id="heading1">
                    <h2>Order Details</h2>
                </div>
                <div id="profile">

                </div>
            </div>
            <div id="getdata">
            <div id="searchcontainer">
					<form id="searchform" action="/order/search">
					<input id="search1" type="text" name="search" placeholder="Search">
					<input id="search2" type="submit" value="search">
					</form>
				</div>
                <table id="table">
                <thead>
                    <tr>
                    <th>Id</th>
                    <th>Memberid</th>
                    <th>Drug Id</th>
                    <th>Order Amount</th>
                    <th>Status Order</th>
                    </tr>
                </thead>
                <tbody>
                    	<tr th:each="item : ${allorders}">
						<td th:text="${item.id}"></td> 
						<td th:text="${item.memberid}"></td>
						<td th:text="${item.drugid}"></td>
						<td th:text="${item.orderAmount}"></td>
						<td th:text="${item.status_order}"></td>
                    	<!--  <td>
						<form th:action="@{/member/update}"><button th:text="Update">Update</button></form></td>
						<td>
						<form th:action="@{/delete}"><button th:text="Delete">Delete</button></form></td>
                       --> </tr>
                 </tbody>
                </table>
            </div>
            
    </div>
</body>
</html>