<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" th:href="@{/home.css}">
</head>
<body>
    <div id="container1">
        <div id="logo"><h1>MedStore</h1></div>
        <!-- <div id="address"><h4>Delivering to Hyderabad 532008
            Update location
        </h4></div> -->
        <div id="search">
            <div id="categories1">
                <select name="" id="all">
                    <option value="">All</option>
                </select>
            </div>
            <div id="categories2">
                <input id="c1" type="text" placeholder="Search Medstore">
            </div>
            <div id="categories3">
                <input id="c2" type="button" value="search">
            </div>
        </div>
        <div id="country">
            <select name="" id="flag">
            <option value=""><h2>IN</h2></option>
        </select></div>
        <div id="account"><a href="./login.html"><h4>Hello,Sign in Account & Lists
        </h4></a></div>
        <div id="returns"><h4>Returns & Orders
        </h4></div>
        <div id="cart"><a href="./Cart.html"><h4 id="cart1">Cart
        </h4></a></div>
    </div>

    <div id="container2">
        <div id="con2"></div>
        <a href="./home.html"><input id="t2" class="tabs" type="button" value="Home"></a>
        <a href="./Shop.html"><input id="t3" class="tabs" type="button" value="Shop"> </a>
        <input id="t1" class="tabs" type="button" value="Aayurvadic">
        
        <input id="t4" class="tabs" type="button" value="Diseases">

        <input id="t5" class="tabs" type="button" value="Homio Medicines">    
        
       <input id="t6" class="tabs" type="button" value="Customer Service">
       <input id="t7" class="tabs" type="button" value="Contact us">
    </div>
    
        <iframe id="deals" src="/dealspage" frameborder="0"></iframe>
    
</body>
</html>