<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<link rel="stylesheet" th:href="@{/AdminDashboard.css}">
<script type="text/javascript" th:src="@{/Admin.js}"></script>
</head>
<body>
    <div id="container3">
        
            <div id="heading">
                <div id="heading1">
                    <h2>Members Details</h2>
                </div>
                
            </div>
            <div id="getdata">
            <div id="searchcontainer">
					<form id="searchform" action="search">
					<input id="search1" name="search" type="text" placeholder="Search">
					<input id="search2" type="submit" value="search">
					</form>
				</div>
          	<table id="table">
                    <thead>
                    <tr>
                    	<th>Id</th>
                    	<th>Name</th>
                    	<th>Email</th>
                    	<th>Mobile Number</th>
                    	<th>Gender</th>
                    	<th>Date Of Birth</th>
                    	<th>Enabled</th>
                    	<!--
                    	<th>city</th>
                    	<th>state</th>
                    	<th>country</th>
                    	<th>pincode</th>-->
                    	<th>Update</th>
                    	<th>Delete</th>
                    </tr>
                    </thead>
                    <tbody>
                    	<tr th:each="item : ${allmembers}">
						<td th:text="${item.id}"></td> 
						<td th:text="${item.name}"></td>
						<td th:text="${item.email}"></td>
						<td th:text="${item.mobilenumber}"></td>
						<td th:text="${item.gender}"></td>
						<td th:text="${item.date}"></td>
						<td th:text="${item.disabled}"></td>
						<!--<td th:text="${item.address?.city}"></td>
						<td th:text="${item.address?.state}"></td>
						<td th:text="${item.address?.country}"></td>
						 <td th:text="${item.address?.pincode}"></td>  
						<td>
						<form th:action="@{getmember/{id}/{adminid}/(id=${item.id},adminid)}">
						<form th:action="@{/member/delete/{id}/(id=${item.id})}"><button th:text="Delete" th:id="${item.id}">Delete</button></form>-->
						<td><input type="submit" value="Update" th:id="${item.id}" th:onclick="'updatedata('+${item.id}+',0)'"></td>
						<td>
						<input type="submit" value="Delete" th:id="${item.id}" th:onclick="'deletedata('+${item.id}+')'">
						</td>
						</tr>
                    </tbody>
               </table> 
		</div>
    </div>
</body>

</html>