<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" th:href="@{/AdminDashboard.css}">
    <script type="text/javascript" th:src="@{/Admin.js}"></script>
</head>
<body>
    <div id="container3">
        
            <div id="heading">
                <div id="heading1">
                    <h2>Order Details</h2>
                </div>
            </div>
            <div id="getdata">
            <div id="searchcontainer">
					<form id="searchform" th:action="@{/order/memberordersearch/{member}(member=${memberid})}" method="post">
					<input id="search1" type="text" name="search" placeholder="Search">
					<input id="search2" type="submit" value="search">
					</form>
				</div>
                <table id="table">
                <thead>
                    <tr>
                    <th>Id</th>
                    <th>Name</th>
                    <th>Company</th>
                    <th>Type</th>
                    <th>Quantity</th>
                    <th>Price</th>
                    <th>rating</th>
                    </tr>
                 </thead>
                    <tbody>
                    	<tr th:each="item : ${orderdrugs}">
						<td th:text="${item.id}"></td> 
						<td th:text="${item.name}"></td>
						<td th:text="${item.company}"></td>
						<td th:text="${item.type}"></td>
						<td th:text="${item.quantity}"></td>
						<td th:text="${item.price}"></td>
						<td th:text="${item.rating}"></td>
						<!--<td th:text="${item.price}"></td>
						<td th:text="${item.rating}"></td>
						<td th:text="${item.Banned}"></td>
						 <td>
						<form th:action="@{/drug/deletedrug/{drugid}/{member}(drugid=${item.id})(member=${memberid})}">
						<button th:text="Delete" th:id="${item.id}">Delete</button></form></td>
						 --> 
						</tr>
                    </tbody>
                </table>
            </div>
            
    </div>
</body>
</html>